
<div class="feature_icon">
  <%= image_tag('about_mugshot.svg') %>
</div>
 <p class="pg_title"> about </p>

<div class="rule"></div>

<div class="grid_7 push_2 profile_container" style="width: 70%; margin-left: auto; margin-right:auto; position:relative; top:-10px;">

  <p class="about_us_text">
    The Startup Network aims to connect you with your future startup cofounder.
  </p>
  <p class="about_us_text">
    It is a social networking site built specifically for HBS students, by an HBS student. It is designed to allow users to share their interests and passions, and to market their skills, experiences, and ideas to other members of the community.
  </p>
  <p class="about_us_text">
    Best of luck!
  </p>
  <p style="font-size:12px; font-weight:normal; margin-top: 50px;">
    P.S. This is very much still a work in progress. In the coming days/weeks I'm hoping to roll out new features and functionality like being able to create and contribute ideas, leave comments on them, and update your profile here using LinkedIn. Let me know what features you think are useful!
  </p>

  <div class="about_card" style="margin-left: -80px; margin-top: 150px;">
    <div class="bio_image">
      <%= image_tag('ding.png')%>
    </div>
    <div class="bio">
      <h2>{</h2>
      <p>
        Hi, my name is Eu-wen and I built this site.
      </p>
      <p>
        I built this because its hard to find the right startup cofounder, and it is impossible to meet every one of you awesome 899 HBS students whom I'll be starting with this fall.
      </p>
      <p>
        The idea for The Startup Network was born when I came across the spreadsheet of HBS students interested in entrepreneurship on Facebook. I loved the initiative, but thought a spreadsheet to be a poor tool to connect wannabe entrepreneurs to each other.
      </p>
      <p>
        I thought I could do a better job, so I built this. I really hope that you like it, that you will use it, and most importantly, that it will spark connections that result in meaningful relationships when we come together on campus this fall.
      </p>
      <p>
        If you have thoughts, feedback, ideas, or criticisms I encourage you to reach out to me. I would love to chat. You can contact me directly at <a href="mailto:eding@mba2015.hbs.edu">eding@mba2015.hbs.edu</a>
      </p>
      <h2>}</h2>
    </div>

  </div>

  <p>Major thanks to Livien Yin and Woo Jin Park who did all of the front-end design of this site</p>

</div>

