<div>
  <br>
  <p>Welcome to The Startup Network!
  <br>
  <br>
  <p>Confirm your account by clicking on this link: <%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
  <br>
  <br>
  <p>- The Startup Network team </p>
  <br>
  <br>
</div>
